; `git lfs install` 실행시 자동으로 지정된 설정입니다.
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = parkgang
	email = ruddms936@naver.com
[core]
	autocrlf = input
	editor = vim
	; [한글 파일명인 경우 발생하는 이슈를 대응하기 위함](https://subicura.com/mac/dev/intel.html#git)
	precomposeunicode = true
	quotepath = false
[init]
	defaultBranch = main
