[user]
	name = 박경은
	email = 
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = vim
